#scoreboardContainer {
        position: fixed;
        top: 14px;
        right:-20px;
        /* background-color: red; */
        height:400px;
        width:490px;
        overflow: auto;
}

#scoreboard {
        font-family: "Montserrat", sans-serif;
        position: relative;
        width:450px !important;
        padding: 4px;
        background-color: rgba(0, 0, 0, 0.3);
        box-shadow: 2px 2px 7px -2px #000000;
        color: #fff;
        font-size: 14px;
        line-height: 0.8;
        text-align: center;
        border-radius: 10px;
        pointer-events: auto;
        user-select: none;
        overflow: hidden;
        /* 	cursor: move; */
        z-index: 999;
}

.dataTables_scrollHeadInner {
        width: 100% !important;
}

#scoreboardHeader {
        display: grid;
        grid-template-columns: 90px auto 90px;
        justify-items: center;
        height: 45px;
        font-size: 18px;
        align-items: center;
}

table {
        width: 100% !important;
        margin: 0 auto;
        clear: both;
        border-collapse: collapse;
        table-layout: fixed;
        word-wrap: break-word;
        overflow: hidden;
}

thead {
        font-size: 12px;
        background-color: rgba(0, 0, 0, 0.5);
}

thead th,
tbody td {
        padding: 8px 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
}


tbody>tr:hover {
        -webkit-transition: 0.1s;
        transition: 0.1s;
        transform: scale(1.01);
        background-color: rgba(0, 0, 0, 0.4);
}